:root { 
--gray_50_01:#f9fff9; 
--deep_orange_A100:#f39981; 
--blue_gray_50_33:#f0f1f333; 
--pink_900:#882525; 
--gray_800_04:#454545; 
--gray_800_03:#49454f; 
--gray_800_02:#424545; 
--gray_800_01:#424445; 
--black_900_3f:#0000003f; 
--black_900_3e:#0000003e; 
--green_500:#39c15f; 
--gray_300_99:#dee3e699; 
--teal_300:#50ac97; 
--black_900_01:#0e0e0e; 
--yellow_800:#e69638; 
--blue_gray_900_02:#2f383b; 
--blue_gray_700:#2a6877; 
--blue_gray_900_01:#263238; 
--blue_gray_900:#1b424c; 
--red_A700:#ff0011; 
--gray_700_cc:#666666cc; 
--gray_600:#7f7a7a; 
--gray_400:#c7c7c7; 
--blue_gray_100:#cccccc; 
--gray_800:#484d4e; 
--blue_gray_500:#59878e; 
--blue_gray_100_99_02:#cde4df99; 
--black_900_0c:#0000000c; 
--gray_200:#eeeeee; 
--blue_gray_100_99_01:#cfe4e099; 
--gray_400_01:#bfbfbf; 
--gray_400_02:#cacaca; 
--blue_gray_700_7c:#2a68777c; 
--gray_100_01:#f5f5f5; 
--gray_900_71:#11111171; 
--cyan_800:#088586; 
--gray_700_02:#626262; 
--blue_gray_400_01:#639299; 
--white_A700:#ffffff; 
--gray_700_03:#676767; 
--gray_700_01:#666666; 
--indigo_600:#483ea8; 
--green_200:#92e3a9; 
--deep_orange_50:#f3e4e4; 
--blue_gray_50:#f0f1f3; 
--indigo_A200:#6c63ff; 
--red_300:#df8871; 
--light_green_300:#c2bc87; 
--green_600:#508960; 
--teal_200:#7fc1b1; 
--gray_50:#f2fff6; 
--red_50:#fff3f3; 
--gray_700_59:#66666659; 
--black_900:#000000; 
--teal_800:#02783f; 
--gray_500_01:#a6a6a6; 
--blue_gray_800:#3f3d56; 
--gray_700_99:#66666699; 
--gray_900_02:#2b2a2a; 
--red_300_02:#c9745d; 
--gray_700:#6e6868; 
--gray_900_03:#2c2a2a; 
--gray_600_02:#746e6e; 
--gray_900_04:#350202; 
--gray_500:#a8a8a8; 
--gray_600_01:#757575; 
--gray_900_05:#231e1e; 
--blue_gray_400:#8b8b8b; 
--blue_gray_900_06:#37322a; 
--blue_gray_100_99:#c8e4dd99; 
--blue_gray_900_05:#302a2a; 
--blue_gray_900_04:#2f2e41; 
--gray_900:#1d202c; 
--blue_gray_900_03:#333333; 
--gray_900_01:#111111; 
--red_300_01:#e36b61; 
--gray_600_04:#79747e; 
--blue_gray_800_01:#383d50; 
--gray_600_03:#658864; 
--gray_300:#e6e6e6; 
--gray_300_02:#ded7d7; 
--gray_300_01:#dddddd; 
--green_500_01:#39c260; 
--gray_100:#f2fff5; 
--gray_600_05:#a0616a; 
--teal_200_01:#83bec6; 
--black_900_36:#00000036; 
}